body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 0;
}
section{
    margin-bottom: 100px;
}
.divide{
    display: flex;
    
}

.half-width{
    width: 50%;
    margin-left: 100px;
    padding-left: 40px;
}
.half-width p{
    font-size: 20px;
}
.half-width h1{
    font-size: 30px;
}
.half-width img{
    width: 70%;
}

.head-color{
    color: tomato;
    font-size: 50px;
}
.link-button{
    color: white;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 30px;
    padding: 10px 30px;
    border-radius: 20px;
   background-color: black;
   display: inline-block;
}
#image-one{
    width: 600px;
    margin-right: 30px;
}
.second-back-image{
    background-image: url(image/Frame\ 59.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#center-line{
    text-align: center;
}
.padding{
    margin-top: 30px;
    width: 40%;
    margin-right: 50px;
    padding-left: 20px;
    padding-top: 20px;
    border:10px solid wheat;
    border-radius: 15px;
}


#border-one{
    border-radius: 20px;
    padding: 45px;

    width: 2in;
    height: 2in; 
}
.border-second{
    margin-top: 30px;
  margin-left: 100px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 50px;
    border:10px solid wheat;
    border-radius: 15px;
    
}

#final{
    background-color: black;
    padding: 10px;

}
#final h1{
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    color: tomato;
}
#final h3{
    text-align: center;
    font-size: 30px;
    
    color: whitesmoke;
}