body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.divide{
    display: flex;
}
.first-back-image{
    background-image: url(image/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.half-width{
    width: 50%;
    margin-left: 100px;
    padding-left: 40px;
}
.half-width p{
    font-size: 20px;
}
.half-width img{
    width: 70%;
}

.head-color{
    color: tomato;
    font-size: 50px;
}
.link-button{
    color: white;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 30px;
    padding: 10px 30px;
    border-radius: 20px;
   background-color: black;
   display: inline-block;
}
#image{
    width: 600px;
    margin-right: 30px;
}
.second-back-image{
    background-image: url(image/Frame\ 58.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}